@model AutoNuoma.Models.Uzsakymas

@{
    ViewBag.Title = "Užsakymas";
}

<h2>Sudaryti naują užsakymą siuntai išsiųsti</h2>

<p>
    @Html.ActionLink("Naujas užsakymas", "Create", "Uzsakymas", new { @class = "btn btn-success" })
</p>
<table class="table table-striped datatable">
    <div>
        @Html.ActionLink("Nutraukti operacija >>", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })
    </div>
</table>
