@model AutoNuoma.Models.Uzsakymas

@{
    ViewBag.Title = "Apmoketi uzsakyma";
}

<h2>Apmoketi sudaryta uzsakyma</h2>

<fieldset>
    <legend>Apmokėjimas</legend>
    <div class="form-horizontal">


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Apmokėti" class="btn btn-success" />
            </div>
        </div>
    </div>
</fieldset>

<table class="table table-striped datatable">
    <div>
        @Html.ActionLink("Nutraukti operacija >>", "Index", "Home", new { area = "" }, new { @class = "btn btn-default" })
    </div>
</table>
